table {
    width: 100%;
    border-collapse: collapse; 
    text-align: left;          
    color: #000;               
  }
  

  th {
    padding: 8px;
    border: 1px solid #000;
    background-color: #f5f2f2; 
  }
  

  td {
    padding: 8px;
    border: 1px solid #000;
  }
  

  tr:nth-child(odd) {
    background-color: #ccc;
  }
  

  tr:nth-child(even) {
    background-color: #ffff00;
  }